.container {
    background-color: #002540;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    max-width: auto;
    min-height: auto;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(21, 247, 0);
}

h2 {
    text-align: right;
    color: #F60100;
}

h3 {
    text-align: center;
}

h4 {
    color: #fe0089;
}

h5 {
    text-align: right;
}

h6 {
    text-align: left;
    padding: 15px;
    color: white;
}

p {
    padding: 10px;
    color: aliceblue
}

legend {
    color: aliceblue;
}

span {
    color: #F60100;
    /*padding: 10px;*/
}

.container .content {
    bottom: 0;
    width: auto;
    padding: 20px;
}